# PHP может экронировать ковычки сам,
# например: \'dadada\'
# *будем работать с ковычками внутри кода
# чтобы не было 2 раза экронизации и тп.
php_flag magic_quotes_gpc Off

# дефолтная кодировка
AddDefaultCharset utf-8

# первые (индекс) файлы
DirectoryIndex index.php

# вкл. модуль перенаправления
RewriteEngine On

# если Запрос в URL - не файл
RewriteCond %{REQUEST_FILENAME} !-f

# то перенаправить юзера на index.php,
# лежащий в корне сайта
RewriteRule ^(.*) index.php
