#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.element {
    display: inline-block;
    border: #2c3e50;
    margin: 10px 0;
    border: 2px solid aqua;
    padding: 20px;
}


.red {
    border: 1px solid brown;
}